<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
    <style>
        .container{
            margin:auto;
            width: 50%;
            padding: 30px;
            background: #eee;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text ="${name}">
            Welcome to home page
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ad perspiciatis vero quam odio sequi, accusamus
             voluptate nesciunt nihil enim nobis. Corrupti magnam non exercitationem eligendi tempore molestiae quae tempora.
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>